@{
    ViewData["Title"] = "Home Page";
}

<div class="content">

<h2>Tillgängliga tjänster och dess status</h2>

</br>

<table class="service-table">
    <thead>
        <tr class="service-type-all">
            <th class="service-type"><strong>Tjänstens Namn</strong></th>
            <th class="service-type"><strong>Schemats namn</strong></th>
            <th class="service-type"><strong>Tjänstens URL</strong></th>
            <th class="service-type"><strong>Tjänstens Status</strong></th>
            <th class="service-type"><strong>Tjänstens Server Status</strong></th>
            <th class="service-type"><strong>Ping</strong></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var serviceInfo in Model)
        {
            <tr>
                <td class="service-type-description">@serviceInfo.ServiceName</td>
                <td class="service-type-description">@serviceInfo.SchemaName</td>
                <td class="service-type-description">@serviceInfo.ServiceURL</td>
                <td class="service-type-description">@serviceInfo.Status</td>
                <td class="service-type-description">@serviceInfo.StatusCode</td>
                <td class="service-type-description">@serviceInfo.ElapsedTime ms</td>
            </tr>
        }
    </tbody>
    
</table>

<meta http-equiv="refresh" content="5">

</div>